In [125]:
import numpy as np
import pandas as pd
import country_converter as coco

cc = coco.CountryConverter()

In [126]:
football_df = pd.read_csv('/Users/joshuaneronha/Documents/Brown/Semester 6/CSCI 1951a/hw6-dataviz-joshuaneronha/data/football.csv')

In [127]:
football_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [128]:
football_df = pd.read_csv('/Users/joshuaneronha/Documents/Brown/Semester 6/CSCI 1951a/hw6-dataviz-joshuaneronha/data/football.csv')
football_df['home_win'] = football_df['home_score'] > football_df['away_score']
football_df['away_win'] = football_df['away_score'] > football_df['home_score']

In [129]:
football_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_win,away_win
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,False,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,True,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,True,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,False,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
41581,2020-01-10,Barbados,Canada,1,4,Friendly,Irvine,United States,True,False,True
41582,2020-01-12,Kosovo,Sweden,0,1,Friendly,Doha,Qatar,True,False,True
41583,2020-01-15,Canada,Iceland,0,1,Friendly,Irvine,United States,True,False,True
41584,2020-01-19,El Salvador,Iceland,0,1,Friendly,Carson,United States,True,False,True
41585,2020-02-01,United States,Costa Rica,1,0,Friendly,Carson,United States,False,True,False

In [130]:
home_wins = football_df[['home_team','home_win']].groupby('home_team').sum()
away_wins = football_df[['away_team','away_win']].groupby('away_team').sum()

In [131]:
home_wins['total_games_home'] = football_df[['home_team','home_win']].groupby('home_team').count()
away_wins['total_games_away'] = football_df[['away_team','away_win']].groupby('away_team').count()

In [132]:
joint_wins = home_wins.join(away_wins)
joint_wins['total_wins'] = joint_wins['home_win'] + joint_wins['away_win']
joint_wins['total_games'] = joint_wins['total_games_home'] + joint_wins['total_games_away']
joint_wins['win_percent'] = 100 * joint_wins['total_wins'] / joint_wins['total_games']

In [133]:
joint_wins = joint_wins.reset_index()
sorted_df = joint_wins.sort_values(by = 'win_percent', ascending = False)

In [134]:
uk_df = sorted_df.loc[(sorted_df['home_team'] == ('Scotland')) | (sorted_df['home_team'] == ('England')) | (sorted_df['home_team'] == ('Wales')) | (sorted_df['home_team'] == ('Northern Ireland')) | (sorted_df['home_team'] == ('Shetland')) | (sorted_df['home_team'] == ('Ynys Môn'))].sum()

In [135]:
sorted_df.loc[(sorted_df['home_team'] == ('Northern Ireland'))]

,home_team,home_win,total_games_home,away_win,total_games_away,total_wins,total_games,win_percent
195,Northern Ireland,106,312,59.0,332.0,165.0,644.0,25.621118

In [136]:
sorted_df.loc[(sorted_df['home_team'] == ('Scotland')) | (sorted_df['home_team'] == ('England')) | (sorted_df['home_team'] == ('Wales')) | (sorted_df['home_team'] == ('Northern Ireland')) | (sorted_df['home_team'] == ('Shetland')) | (sorted_df['home_team'] == ('Ynys Môn'))]

,home_team,home_win,total_games_home,away_win,total_games_away,total_wins,total_games,win_percent
84,England,308,498,264.0,511.0,572.0,1009.0,56.689792
301,Ynys Môn,18,29,14.0,32.0,32.0,61.0,52.459016
238,Scotland,215,380,156.0,401.0,371.0,781.0,47.503201
242,Shetland,12,22,6.0,29.0,18.0,51.0,35.294118
294,Wales,123,321,85.0,335.0,208.0,656.0,31.707317
195,Northern Ireland,106,312,59.0,332.0,165.0,644.0,25.621118

In [137]:
uk_df['win_percent'] = 100 *uk_df['total_wins'] / uk_df['total_games']
uk_df['country_code'] = 'GBR'
uk_df['home_team'] = 'United Kingdom'

In [138]:
uk_df

home_team           United Kingdom
home_win                       782
total_games_home              1562
away_win                     584.0
total_games_away            1640.0
total_wins                  1366.0
total_games                 3202.0
win_percent              42.660837
country_code                   GBR
dtype: object

In [139]:
sorted_df = sorted_df.append(uk_df,ignore_index = True)

In [140]:
sorted_df.loc[(sorted_df['home_team'] == ('Scotland'))]

,home_team,home_win,total_games_home,away_win,total_games_away,total_wins,total_games,win_percent,country_code
48,Scotland,215,380,156.0,401.0,371.0,781.0,47.503201,NaN

In [142]:
sorted_df = sorted_df.drop([48,25,15,139,171,211])

In [143]:
sorted_df.loc[(sorted_df['home_team'] == ('Scotland'))]

Empty DataFrame
Columns: [home_team, home_win, total_games_home, away_win, total_games_away, total_wins, total_games, win_percent, country_code]
Index: []

In [146]:
limited_df = sorted_df[sorted_df['total_games'] > 50]

In [151]:
limited_df['country_code'] = limited_df['home_team'].apply(lambda x: coco.convert(names = x, to = 'ISO3'))

Basque Country not found in regex
Tahiti not found in regex
German DR not found in regex
Yugoslavia not found in regex
Vietnam Republic not found in regex
Zanzibar not found in regex
/Users/joshuaneronha/.conda/envs/cs1951a/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [152]:
limited_df

,home_team,home_win,total_games_home,away_win,total_games_away,total_wins,total_games,win_percent,country_code
2,Jersey,38,48,17.0,34.0,55.0,82.0,67.073171,JEY
5,Basque Country,21,32,16.0,25.0,37.0,57.0,64.912281,not found
6,Brazil,404,568,221.0,413.0,625.0,981.0,63.710499,BRA
12,Spain,245,359,161.0,335.0,406.0,694.0,58.501441,ESP
13,Germany,317,506,238.0,443.0,555.0,949.0,58.482613,DEU
...,...,...,...,...,...,...,...,...,...
289,Anguilla,2,21,1.0,40.0,3.0,61.0,4.918033,AIA
290,Djibouti,4,41,0.0,47.0,4.0,88.0,4.545455,DJI
291,Andorra,6,83,0.0,81.0,6.0,164.0,3.658537,AND
292,San Marino,1,83,0.0,80.0,1.0,163.0,0.613497,SMR
308,United Kingdom,782,1562,584.0,1640.0,1366.0,3202.0,42.660837,GBR

In [153]:
limited_df = limited_df[limited_df['country_code'] != 'not found']

In [157]:
limited_df[['home_team','country_code','win_percent']].to_csv('/Users/joshuaneronha/Documents/Brown/Semester 6/CSCI 1951a/hw6-dataviz-joshuaneronha/data/football_clean_q2.csv',header = 'true', index = False, float_format='%.1f')

<h1>question 1</h1>

In [163]:
football_df['date'] = football_df['date'].map(lambda x: x[0:4])

In [184]:
cleaned_date = football_df.groupby('date').count()['tournament'].sort_index()

In [187]:
cleaned_date.to_csv('/Users/joshuaneronha/Documents/Brown/Semester 6/CSCI 1951a/hw6-dataviz-joshuaneronha/data/football_clean_q1.csv',header = 'true', index = True)

In [186]:
cleaned_date

date
1872       1
1873       1
1874       1
1875       1
1876       2
        ...
2016     926
2017     958
2018     905
2019    1155
2020       7
Name: tournament, Length: 149, dtype: int64

<h2>question 3</h2>

In [374]:
football_df = pd.read_csv('/Users/joshuaneronha/Documents/Brown/Semester 6/CSCI 1951a/hw6-dataviz-joshuaneronha/data/football.csv')
football_df['home_win'] = football_df['home_score'] > football_df['away_score']
football_df['away_win'] = football_df['away_score'] > football_df['home_score']
football_df['date'] = football_df['date'].str.slice(stop=4)

In [375]:
football_df = football_df[((football_df['date'] == '2014') | (football_df['date'] == '2018') | (football_df['date'] == '2013') | (football_df['date'] == '2017')) & ((football_df['tournament'] == 'FIFA World Cup') | (football_df['tournament'] == 'FIFA World Cup qualification')) ]

In [376]:
football_df['score_diff_h'] = football_df['home_score'] - football_df['away_score']
football_df['score_diff_a'] = -1*football_df['home_score'] + football_df['away_score']

In [377]:
home_wins = football_df[['date','home_team','home_win','away_team','score_diff_h']].groupby('home_team').mean()
away_wins = football_df[['date','home_team','home_win','away_team','score_diff_a']].groupby('away_team').mean()

In [378]:
home_wins

            home_win  score_diff_h
home_team
Albania     0.250000      0.000000
Algeria     0.666667      1.000000
Andorra     0.166667     -1.500000
Angola      0.500000      1.500000
Argentina   0.583333      0.583333
...              ...           ...
Uzbekistan  0.600000      1.200000
Venezuela   0.285714      0.142857
Wales       0.400000     -0.600000
Zambia      0.500000      1.500000
Zimbabwe    0.000000     -1.000000

[133 rows x 2 columns]

**measures**
* total number of games played (done)
* win percent (done)
* average win margin

In [379]:
home_count = football_df[['date','home_team','home_win','away_team','score_diff_h']].groupby('home_team').count()['date']
away_count = football_df[['date','home_team','home_win','away_team','score_diff_a']].groupby('away_team').count()['date']

In [380]:
home_count

home_team
Albania        4
Algeria        6
Andorra        6
Angola         2
Argentina     12
              ..
Uzbekistan     5
Venezuela      7
Wales          5
Zambia         4
Zimbabwe       2
Name: date, Length: 133, dtype: int64

In [381]:
stats_table = home_wins.join(home_count).join(away_wins,rsuffix='away').join(away_count,rsuffix='away')

In [382]:
stats_table['win_percent'] = ((stats_table['home_win'] * stats_table['date']) + (stats_table['home_winaway'] * stats_table['dateaway'])) / (stats_table['date'] + stats_table['dateaway'])
stats_table['margin'] = ((stats_table['score_diff_h'] * stats_table['date']) + (stats_table['score_diff_a'] * stats_table['dateaway'])) / (stats_table['date'] + stats_table['dateaway'])
stats_table['total_games'] = stats_table['date'] + stats_table['dateaway']

In [383]:
stats_table = stats_table[['win_percent','margin','total_games']]

In [384]:
stats_table

            win_percent    margin  total_games
home_team
Albania        0.416667 -0.250000           12
Algeria        0.642857  0.285714           14
Andorra        0.583333 -2.166667           12
Angola         0.500000  0.500000            4
Argentina      0.458333  0.375000           24
...                 ...       ...          ...
Uzbekistan     0.700000  0.100000           10
Venezuela      0.384615 -0.461538           13
Wales          0.250000  0.000000           12
Zambia         0.500000  0.625000            8
Zimbabwe       0.500000 -1.250000            4

[133 rows x 3 columns]

In [385]:
new_df = football_df.join(stats_table, on = 'home_team').join(stats_table, on = 'away_team', rsuffix = '_away')

In [386]:
home_str = new_df[['home_team','win_percent_away']].groupby('home_team').mean()
away_str = new_df[['away_team','win_percent']].groupby('away_team').mean()

In [387]:
str_table = home_str.join(home_count).join(away_str,rsuffix='away').join(away_count,rsuffix='away')

In [388]:
str_table['opp_str'] = ((str_table['win_percent_away'] * str_table['date']) + (str_table['win_percent'] * str_table['dateaway']))/((str_table['date'] + str_table['dateaway']))

In [389]:
str_table = str_table['opp_str']

In [416]:
comb_table = stats_table.join(str_table)

In [417]:
offset = comb_table['margin'].min()

In [418]:
comb_table['margin'].mean()

-0.2651372864110109

In [419]:
3 - offset

8.833333333333332

In [420]:
comb_table['win_percent'] = comb_table['win_percent'] / (comb_table['win_percent'].max())
comb_table['margin'] = (comb_table['margin'] - offset) / ((comb_table['margin'].max()) - offset)
comb_table['total_games'] = comb_table['total_games'] / (comb_table['total_games'].max())
comb_table['opp_str'] = comb_table['opp_str'] / (comb_table['opp_str'].max())

In [421]:
comb_table['total'] = (comb_table['win_percent'] + comb_table['margin'] + comb_table['total_games'] + comb_table['opp_str']) / 4

In [422]:
new_order = ['total','win_percent','margin','total_games','opp_str']
comb_table = comb_table.reindex(columns = new_order)

In [423]:
comb_table = comb_table.sort_values('total',ascending = False).head(10)

In [424]:
comb_table.to_csv('ques_3.csv')

In [425]:
pd.melt(comb_table,ignore_index=False).to_csv('ques_3.csv')