In [143]:
import numpy as np
import pandas as pd
import country_converter as coco

cc = coco.CountryConverter()

In [144]:
football_df = pd.read_csv('/Users/joshuaneronha/Documents/Brown/Semester 6/CSCI 1951a/hw6-dataviz-joshuaneronha/data/football.csv')

In [145]:
football_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [146]:
football_df['home_win'] = football_df['home_score'] > football_df['away_score']
football_df['away_win'] = football_df['away_score'] > football_df['home_score']

In [147]:
football_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_win,away_win
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,False,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,True,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,True,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,False,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
41581,2020-01-10,Barbados,Canada,1,4,Friendly,Irvine,United States,True,False,True
41582,2020-01-12,Kosovo,Sweden,0,1,Friendly,Doha,Qatar,True,False,True
41583,2020-01-15,Canada,Iceland,0,1,Friendly,Irvine,United States,True,False,True
41584,2020-01-19,El Salvador,Iceland,0,1,Friendly,Carson,United States,True,False,True
41585,2020-02-01,United States,Costa Rica,1,0,Friendly,Carson,United States,False,True,False

In [148]:
home_wins = football_df[['home_team','home_win']].groupby('home_team').sum()
away_wins = football_df[['away_team','away_win']].groupby('away_team').sum()

In [149]:
home_wins['total_games_home'] = football_df[['home_team','home_win']].groupby('home_team').count()
away_wins['total_games_away'] = football_df[['away_team','away_win']].groupby('away_team').count()

In [153]:
joint_wins = home_wins.join(away_wins)
joint_wins['total_wins'] = joint_wins['home_win'] + joint_wins['away_win']
joint_wins['total_games'] = joint_wins['total_games_home'] + joint_wins['total_games_away']
joint_wins['win_percent'] = 100 * joint_wins['total_wins'] / joint_wins['total_games']

In [174]:
joint_wins = joint_wins.reset_index()
sorted_df = joint_wins.sort_values(by = 'win_percent', ascending = False)

In [175]:
sorted_df.head(10)

,level_0,index,home_team,home_win,total_games_home,away_win,total_games_away,total_wins,total_games,win_percent
302,302,302,Yorkshire,4.0,5,1.0,2.0,5.0,7.0,71.428571
201,201,201,Padania,20.0,28,9.0,15.0,29.0,43.0,67.441860
137,137,137,Jersey,38.0,48,17.0,34.0,55.0,82.0,67.073171
65,65,65,County of Nice,2.0,4,4.0,5.0,6.0,9.0,66.666667
209,209,209,Parishes of Jersey,2.0,2,0.0,1.0,2.0,3.0,66.666667
24,24,24,Basque Country,21.0,32,16.0,25.0,37.0,57.0,64.912281
35,35,35,Brazil,404.0,568,221.0,413.0,625.0,981.0,63.710499
6,6,6,Andalusia,7.0,12,1.0,1.0,8.0,13.0,61.538462
220,220,220,Rhodes,8.0,11,3.0,7.0,11.0,18.0,61.111111
66,66,66,Crimea,0.0,1,3.0,4.0,3.0,5.0,60.000000

In [190]:
limited_df = sorted_df[sorted_df['total_games'] > 250]

In [191]:
limited_df['country_code'] = limited_df['home_team'].apply(lambda x: coco.convert(names = x, to = 'ISO3'))

England not found in regex
Scotland not found in regex
German DR not found in regex
Yugoslavia not found in regex
Wales not found in regex
Northern Ireland not found in regex
/Users/joshuaneronha/.conda/envs/cs1951a/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [193]:
limited_df

,level_0,index,home_team,home_win,total_games_home,away_win,total_games_away,total_wins,total_games,win_percent,country_code
35,35,35,Brazil,404.0,568,221.0,413.0,625.0,981.0,63.710499,BRA
256,256,256,Spain,245.0,359,161.0,335.0,406.0,694.0,58.501441,ESP
103,103,103,Germany,317.0,506,238.0,443.0,555.0,949.0,58.482613,DEU
84,84,84,England,308.0,498,264.0,511.0,572.0,1009.0,56.689792,not found
127,127,127,Iran,177.0,280,95.0,219.0,272.0,499.0,54.509018,IRN
...,...,...,...,...,...,...,...,...,...,...,...
28,28,28,Benin,44.0,131,15.0,129.0,59.0,260.0,22.692308,BEN
31,31,31,Bolivia,82.0,235,19.0,223.0,101.0,458.0,22.052402,BOL
70,70,70,Cyprus,54.0,203,15.0,159.0,69.0,362.0,19.060773,CYP
164,164,164,Malta,35.0,219,12.0,178.0,47.0,397.0,11.838791,MLT
156,156,156,Luxembourg,25.0,222,9.0,180.0,34.0,402.0,8.457711,LUX

In [195]:
limited_df[['country_code','win_percent']].to_csv('/Users/joshuaneronha/Documents/Brown/Semester 6/CSCI 1951a/hw6-dataviz-joshuaneronha/data/football_clean_q2.csv',header = 'true', index = False)